@charset "utf-8";
@import url("reset.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: 'Nanum Gothic', sans-serif;
}

.wrap {
    width: 1080px;
    margin: 0 auto;
}

.all {
    width: 1080px;
    overflow: hidden;
}

.content {
    width: 880px;
    float: left;
    overflow: hidden;
}

.rnb {
    width: 200px;
    float: right;
}

.footer {
    width: 1080px;
    height: 50px;
    clear: both;
    margin-top: 50px;
    margin-bottom: 0;
}