@charset "utf-8";
@import url("reset.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: 'Nanum Gothic', sans-serif;
}

.wrap {
    width: 1080px;
    height: 50px;
    background-color: #002d44;
}

.wrap p {
    margin-left: 70px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
}